.midheading {
    display: flex;
    justify-content: space-between;
    color: rgb(226, 107, 43);
    position: sticky;
    top: 0;
}

.leftheading {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.fs {
    font-size: 13px;
    color: rgb(226, 122, 43);
    border-radius: 3px;
    border: 1px solid;

}

.main {
    text-align: center;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.fstext {
    font-size: 11px;
}